body {
    background-color: #e1e5ea;
    font-family: 'Open Sans', 'sans-serif';
}

.back-button {
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    margin-bottom: 10px;
}

.iconify {
    vertical-align: middle;
}

.red-text{
	color: red;
}

/* button save */
button[type="submit"] {
    font-weight: bold;
	font-size: 15px;
    font-family:  'Open Sans';
	width:fit-content;
	height: fit-content;
	display: block;
	background-color: #A7BBC7;
	color: #000000;
	padding: 10px 30px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
    margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

button[type="submit"]:hover {
	background-color: #637784;
}

/* bagian masukin pw */
input[type="password"] {
	padding: 8px;
	border-radius: 5px;
	background: #FAF3F3;
	border: none;
	margin: 0px;
	color: #A7BBC7;
}

/* kolom Passsword settings */
.colContent-p {
    background-color: #E1E5EA;
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow: hidden;
}

/* ngisi pw */
.form-group {
    padding: 5px;
    margin: 0;
}

/* forgot pw */
.colContent-p a {
    padding: 5px;
    color: grey;
}

/* kolom Settings */
.colContent-s {
    background-color: #A7BBC7;
    width: 100%;
    height: 100%;
    padding: 30px 80px;
    overflow: hidden;
}

/* ini buat list pilihan settings */
.li-content {
    padding: 0px;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

/* code buat tampilan lagi ada di setting bagian mana */
.li-content .current-setting a {
    background-color: #637784;
    border-radius: 5px;
    color: white;
}

.li-content .current-setting a:hover {
    background-color: #637784;
    color: white;
}

.li-content li {
    margin-bottom: 10px;
	font-size: 18px;
}

.li-content a {
    color: black;
    background-color: transparent;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.li-content a:hover {
    color: black;
    background-color: #E1E5EA;
    text-decoration: none;
}

