<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="confirm.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Booking Confirmation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>
    <div class="back-btn"></div>
    <div class="profile"></div>
    <div class="row justify-content-center">
        <div class="col-4 name">
          <ul class="fw-medium fs-4">Name</ul>
          <ul class="fw-medium fs-4">Customer's Name</ul>
          <ul class="fw-medium fs-4">Customer's Address</ul>
          <ul class="fw-medium fs-4">Customer's Phone</ul>
          <ul class="fw-medium fs-4">Customer's Gender</ul>
          <ul class="fw-medium fs-4">Date</ul>
          <ul class="fw-medium fs-4">Time</ul>
        </div>
        <div class="col-4 detail">
            <ul class="fw-light fs-4">John Doe</ul>
            <ul class="fw-light fs-4">John Doe 2</ul>
            <ul class="fw-light fs-4">Pulang Kampung OwO</ul>
            <ul class="fw-light fs-4">08XX XXXX XXXX</ul>
            <ul class="fw-light fs-4">Man / Woman</ul>
            <ul class="fw-light fs-4">DD/MM/YY</ul>
            <li class="fw-light fs-4 col-sm-4 day">
                <ul class="fw-light fs-4">Monday</ul>
                <ul class="fw-light fs-4">Tuesday</ul>
                <ul class="fw-light fs-4">Wednesday</ul>
                <ul class="fw-light fs-4">Thursday</ul>
                <ul class="fw-light fs-4">Friday</ul>
                <ul class="fw-light fs-4">Saturday</ul>
                <ul class="fw-light fs-4">Sunday</ul>
            </li>
            <li class="fw-light fs-4 col-sm-4 time">
                <ul class="fw-light fs-4">07:00 - 17:00</ul>
                <ul class="fw-light fs-4">07:00 - 17:00</ul>
                <ul class="fw-light fs-4">07:00 - 17:00</ul>
                <ul class="fw-light fs-4">07:00 - 17:00</ul>
                <ul class="fw-light fs-4">07:00 - 17:00</ul>
                <ul class="fw-light fs-4">07:00 - 17:00</ul>
                <ul class="fw-light fs-4">None - none</ul>
            </li>
        </div>
      </div>
</body>